---
---
<!DOCTYPE html>
{% assign author = site.data.authors[page.author] %}
<html lang="{% if page.lang %}{{page.lang}}{% else %}en{% endif %}">
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/Article">
    {% include header.html %}
    <main class="content" role="main">
      <article class="post">
        {% if page.image %}
        <div class="article-image">
          <div class="post-image-image" style="background-image: url({% if page.image %}{{ page.image | prepend: site.baseurl }}{% endif %})"></div>
          <div class="post-image-image2" style="background-image: url({% if page.image2 %}{{ page.image2 | prepend: site.baseurl }}{% endif %})"></div>
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url({{ author.image }})"></div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a rel="author" href="{{author.homepage}}">
                  {{ author.name }}
                </a>
              </h4>
              ·
              <time datetime="{{ page.date | date: "%F %R" }}">
                {{ page.date | date: "%b %d, %Y" }}
                ·
              </time>
              <span class="post-reading-time"></span> read
            </div>
            <div style="text-align:center">
              <a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <div class="author-image" style="background-image: url({{ author.image | prepend: site.baseurl }})"></div>
              <h4 class="author-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a rel="author" href="{{author.homepage}}">
                  {{ author.name }}
                </a>
              </h4>
              ·
              <time datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: "%b %d, %Y" }}
                ·
                <span class="post-reading-time"></span> read
              </time>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        {% endif %}
        <section class="post-content">
          <a name="topofpage"></a>
          {{content}}
        </section>
        <footer class="post-footer">
          <section class="tags">
            {% for tag in page.tags %}<span class="tag">{{tag}}</span>{% endfor %}
          </section>
          <section class="share">
            {% include share_links.html %}
          </section>
        </footer>
        <div class="bottom-teaser cf">
          <div class="isLeft">
            <h5 class="index-headline featured"><span>Written by</span></h5>
            <section class="author">
              <div class="author-image" style="background-image: url({{author.image | prepend: site.baseurl}})"></div>
              <h4>
                <a rel="author" href="{{author.homepage}}">
                  {{ author.name }}
                </a>
              </h4>
              <p class="bio">
                {{author.bio}}
                <br>
                {% if author.homepage %}
                <a href="{{ author.homepage }}"><i class="fa fa-link" target="_blank"></i></a>
                {% endif %}
                {% if author.twitter %}
                <a href="https://twitter.com/{{ author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if author.github %}
                <a href="https://github.com/{{ author.github }}" target="_blank"><i class="fa fa-github"></i></a>
                {% endif %}
              </p>
              <!-- <hr> -->
              <!-- <p class="published">Published
                <time datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date: "%b %d, %Y" }}</time>
              </p> -->
            </section>
          </div>
          <div class="isRight">
            <h5 class="index-headline featured"><span>Supported by</span></h5>
            <footer class="site-footer">
              <section class="poweredby">Proudly published with <a href="http://jekyllrb.com"> Jekyll</a>, Theme <a href="https://github.com/dirkfabisch/mediator">Mediator</a></section>
              <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Suscribe to our feed.</span></a>
              <div class="inner">
                <section class="copyright">All content copyright <a href="{{blog.url}}/"> {{site.title}}</a> &copy; {{ site.time | date: '%Y' }}<br>All rights reserved.</section>
              </div>
            </footer>
          </div>
        </div>
        {%if site.disqus %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '{{site.disqus}}'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
      </article>
    </main>
    {% include javascripts.html %}
  </body>
</html>
